
{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1> Bienvenue !</h1>

<a href="{{ path('program_index') }}">Voir l'ensemble des programes</a>
</br>
<a href="{{ path('category_index') }}"> Retour à la liste des categories </a>
{% endblock %}